$container-xl: 1904px;
$container-lg: 1264px;
$container-md: 960px;
$container-sm: 600px;

@mixin responsive($device) {
    @if $device==xl {

        // For resolutions upper 1904px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }

    @else if $device==lg {

        // For resolutions between 1264px and 1904px
        @media screen and (max-width: $container-xl) and (min-width: $container-lg) {
            @content;
        }
    }

    @else if $device==md {

        // For resolutions between 960px and 1264px
        @media screen and (max-width: $container-lg) and (min-width: $container-sm) {
            @content;
        }
    }

    @else if $device==sm {

        // For resolutions less than 960px
        @media screen and (max-width: $container-md) {
            @content;
        }
    }

    @else if $device==xs {

        // For resolutions less than 600px
        @media screen and (max-width: $container-sm) {
            @content;
        }
    }
}